In [1]:
import numpy as np 

import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json

from geopy.geocoders import Nominatim

import requests
from pandas.io.json import json_normalize

import matplotlib.cm as cm
import matplotlib.colors as colors

from sklearn.cluster import KMeans

import folium

print('Libraries imported.')

Libraries imported.

In [2]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.1)
Note: you may need to restart the kernel to use updated packages.

<h3>Accessing the Database using Pandas with BS4 <h3>

In [4]:
from bs4 import BeautifulSoup

res=requests.get(' https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 

dfs = pd.read_html(str(table))
df=dfs[0]
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

<h3>Removing 'Not assigned' Borough <h3>

In [5]:
df.drop( df[ df['Borough'] == 'Not assigned'].index , inplace=True)
df.reset_index(drop=True,inplace=True)
df.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

<h3>Checking if merging is needed <h3>

In [6]:
df1=df['Postal Code'].value_counts(sort=True).to_frame()
df1.head()

     Postal Code
M4G            1
M4M            1
M1L            1
M1W            1
M1K            1

In [ ]:
#df.groupby(['Postal Code','Borough'], sort=False).agg(', '.join)
#df.reset_index(inplace=True)
# /\ run if Postal Code > 1

<h3> Checking if there are any NaN remaining cells <h3>

In [7]:
df.isna().sum()

Postal Code     0
Borough         0
Neighborhood    0
dtype: int64

In [77]:
#df['Neighborhood'] = np.where(df['Neighborhood'] == 'Not assigned',df['Borough'], df['Neighborhood'])
# /\ run if sum > 0

In [9]:
df.shape

(103, 3)